.h1 {
  margin-bottom: 3px;
}

.h1 a {
  color: var(red);
}

.h2_error {
  color: var(--error);
}

.h3 {
  text-align: center;
  color: var(green);
}

.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.face {
  position: relative;
  top: 20px;
  right: 0;
  width: 200px;
  /* text-align: right; */
  z-index: -10;
  opacity: 0.6;
}

.face img {
  width: 100%;
}

@media (max-width: 480px) {
  .face {
    top: 26px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -5;
  }

  .face img {
    height: 110px;
    width: auto;
  }
}

.description,
p {
  width: 200px;
}

.language {
  text-decoration: none;
  color: var(--header);
}

.language li {
  text-decoration: none;
  color: var(--text);
}

.name,
.back {
  color: var(--link);
}

.name:hover,
.h1 a:hover,
.back:hover {
  color: var(--link-hover);
}

.name:visited {
  color: var(--link-visited);
}

.back {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 0.9rem;
}
